In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('Churn_Modelling.csv')

In [5]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
df.shape

(10000, 14)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [51]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['Gender'] = label_encoder.fit_transform(df['Gender'])

In [55]:
df = pd.get_dummies(df,columns=['Geography'],drop_first=True)

In [59]:
df = df.drop(columns=['Surname'])

In [61]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RowNumber          10000 non-null  int64
 1   CustomerId         10000 non-null  int64
 2   CreditScore        10000 non-null  int64
 3   Gender             10000 non-null  int32
 4   Age                10000 non-null  int64
 5   Tenure             10000 non-null  int64
 6   Balance            10000 non-null  float64
 7   NumOfProducts      10000 non-null  int64
 8   HasCrCard          10000 non-null  int64
 9   IsActiveMember     10000 non-null  int64
 10  EstimatedSalary    10000 non-null  float64
 11  Exited             10000 non-null  int64
 12  Geography_Germany  10000 non-null  bool
 13  Geography_Spain    10000 non-null  bool
dtypes: bool(2), float64(2), int32(1), int64(9)
memory usage: 918.1 KB
None

In [63]:
df.isnull()

,RowNumber,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [65]:
df.isnull().sum()

RowNumber            0
CustomerId           0
CreditScore          0
Gender               0
Age                  0
Tenure               0
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Exited               0
Geography_Germany    0
Geography_Spain      0
dtype: int64

In [67]:
from sklearn.model_selection import train_test_split

In [71]:
x = df.iloc[:,df.columns!='Exited']
y = df.iloc[:,df.columns=='Exited']

In [73]:
print(x)

      RowNumber  CustomerId  CreditScore  Gender  Age  Tenure    Balance  \
0             1    15634602          619       0   42       2       0.00
1             2    15647311          608       0   41       1   83807.86
2             3    15619304          502       0   42       8  159660.80
3             4    15701354          699       0   39       1       0.00
4             5    15737888          850       0   43       2  125510.82
...         ...         ...          ...     ...  ...     ...        ...
9995       9996    15606229          771       1   39       5       0.00
9996       9997    15569892          516       1   35      10   57369.61
9997       9998    15584532          709       0   36       7       0.00
9998       9999    15682355          772       1   42       3   75075.31
9999      10000    15628319          792       0   28       4  130142.79

      NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  \
0                 1          1               1        101348.88
1                 1          0               1        112542.58
2                 3          1               0        113931.57
3                 2          0               0         93826.63
4                 1          1               1         79084.10
...             ...        ...             ...              ...
9995              2          1               0         96270.64
9996              1          1               1        101699.77
9997              1          0               1         42085.58
9998              2          1               0         92888.52
9999              1          1               0         38190.78

      Geography_Germany  Geography_Spain
0                 False            False
1                 False             True
2                 False            False
3                 False            False
4                 False             True
...                 ...              ...
9995              False            False
9996              False            False
9997              False            False
9998               True            False
9999              False            False

[10000 rows x 13 columns]

In [75]:
print(y)

      Exited
0          1
1          0
2          1
3          0
4          0
...      ...
9995       0
9996       0
9997       1
9998       1
9999       0

[10000 rows x 1 columns]

In [77]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.3)

In [79]:
xtrain.head()

,RowNumber,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain
1842,1843,15747222,745,0,35,8,0.00,2,1,1,116581.10,False,True
415,416,15809616,626,1,26,8,0.00,2,0,0,191420.71,False,True
1615,1616,15722578,685,0,21,6,97956.50,1,1,1,164966.27,True,False
9750,9751,15591985,708,0,51,8,70754.18,1,1,1,92920.04,False,False
1794,1795,15606841,823,1,38,1,0.00,2,1,0,156603.70,False,False

In [81]:
xtrain.shape

(7000, 13)

In [83]:
ytrain.head()

      Exited
1842       0
415        0
1615       0
9750       1
1794       0

In [85]:
from sklearn.ensemble import RandomForestClassifier

In [89]:
model = RandomForestClassifier()

In [91]:
model.fit(xtrain,ytrain.values.ravel())

RandomForestClassifier()

In [93]:
predict_output = model.predict(xtest)
print(predict_output)

[1 0 1 ... 1 0 1]

In [45]:
from sklearn.metrics import accuracy_score

In [95]:
acc=accuracy_score(predict_output,ytest)
print('The accuracy score for RF:',acc)

The accuracy score for RF: 0.8603333333333333